*.pyc
*.pytest_cache
*.vscode
Test_catlogue.fits
test_gpu.png
*.svg
*.fits
*.o
*.O 
*.0
*.out
*.OUTPUT
*.output
*.pdf
*.h5
bench_script.sh
codeDiagram.drawio
Lockman_facets_process.sh
DRUID.ouput
/Examples_backup
DRUID.egg-info
build
backup